@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

div img{
    max-width: 100%;
}

.container{
    display: flex;
    max-width: 992px;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;

}

.header{
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #EEE;
}

.header .container{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}



.nav{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
}

.nav li a:visited{
    color: #EEE;
}

.title{

}

.intro{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.intro-text{
    min-height: 200px;
}

.intro-text h1{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122A57;
    color: #EEE;
    text-align: center;
    border-radius: 50px;
    width: 220px;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

 #quem-somos{
    align-items: center;
    justify-content: space-between;
 }

 #quem-somos img{
    min-width: 320px;
    margin: auto;
 }

 #quem-somos h2{
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;
 }

 #quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122A57;
    position: relative;
 }

 #quem-somos p{
    margin-bottom: 10px;
    width: 90%;
 }


 .external-container{
    background-color: #122A57;
    width: 100%;
 }

 #servicos{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
 }

 .cards-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .service-card{
    text-align: center;
 }

 #servicos h2{
    color: #EEE;
    font-size: 32px;
    margin-bottom: 30px;
 }

 .service-card a{
    width: 220px;
    background-color: #FFF;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
    margin-top: 18px;
    color: #122A57;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 700;
 }

 .service-card p{
    color: #EEE;
    font-weight: 700;
    font-size: 17px;
    margin-top: 15px;
 }

 .service-card img{
    margin: auto;
    width: 80%;
 }

 #planos{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
 }

 .plan-area{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
 }

 .plan-card{
    flex: 1;
    border: 5px solid #122A57;
    margin-right: 20px;
    padding: 10px;
    max-width: 260px;
 }

 .plan-card .btn{
    margin: auto;
    margin-bottom: 18px;
 }

 .plan-card ul{

    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    margin-bottom: 12px;
 }

 .plan-card ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
 }

 .plan-card ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: #122A57;
    margin-right: 5px;
 }

 .plan-card h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
 }

 .plan-card h3::after{
    content: "";
    background-color: #122A57;
    width: 100%;
    height: 4px;
    margin: 15px 0;
 }

#planos h2{
    font-size: 32px;
    color: #122A57;
}

.footer{
    background-color: #122A57;
    color: #EEE;
    height: 70px;
    display: flex;
    align-items: center;
}

.footer .container{
    justify-content: space-between;
}

/* mobile */
@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }

    .intro{
        flex-direction: column-reverse;
    }

    .intro-text{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    .cards-area{
        flex-direction: column;
    }

    .service-card{
        width: 50%;
        margin: auto;
    }

    .plan-area{
        flex-direction: column;
        align-items: flex-start;
    }

    .plan-card{
        max-width: 90%;
        margin: auto;
        width: 100%;
    }

}
